.form {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: flex;
}

.reservation__form {
  max-width: 385px;
  height: 60px;
}

.form__fieldset {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  padding: 0;
  border: 0;
}

.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  bottom: 8px;
  top: 8px;
}

.form__input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  height: 60px;
  width: 385px;
  top: 8px;
  bottom: 8px;
}

.form__button {
  position: relative;
  height: 60px;
  width: 385px;
  top: 32px;
  bottom: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background-color: #2f80ed;
  transition: 0.4s ease-in;
  bottom: 32px;
}

.form__button:focus {
  border-radius: 4px;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  display: flex;
  justify-content: center;
  position: relative;
  top: 52px;
  gap: 20px;
}

.form__checkbox-option {
  width: 20px;
  height: 20px;
}

.form__checkbox-terms {
  display: flex;
  font-family: "inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
