/* ----------- recipes -------------------- */

.recipes {
  background-color: #0a2750;
  background-image: url(/images/background_recipes.svg);
  background-image: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin-left: 80px;
  top: 100px;
  bottom: 24px;
  padding-top: 100px;
  margin-top: 0;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  max-width: 438px;
  color: white;
  margin: 0 0 80px 80px;
  text-align: start;
  }

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  bottom: 24px;
 }

 .recipes__video-item {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  color: white;
  list-style-type: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
 }

  .recipes__video-caption {
    padding: 0;
    }

  .recipes__video-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 215px;
    top: 24px;
  }


