/* -----------Sobre o café -------------------- */

.about {

  background-color: #1f1f1f;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
  z-index: 1;
  column-gap: 120px;
}

.about__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 251px;
  margin: 0;
  padding: 0;
  margin-top: 100px;
  margin-left: 80px;
  z-index: 0;
}

.about__content {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 660px;
  margin: 0;

  margin-right: 80px;
  margin-top: 119px;
  margin-bottom: 173px;
}

.about__paragraph {
  left: 120px;
  gap: 20px 0;
  display: flex;
  text-align: justify;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  top: -156px;
  left: -129px;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}
