/* -----------fonts -------------------- */

/* -----------page -------------------- */

.page {
  font-family: "Inter", "Noto Serif", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  min-width: 1100px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

/* -----------header -------------------- */

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-position: center;
}
.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  margin: 0px;
  padding: 30px;
  display: block;
  height: 39px;
  width: 105px;
}

.nav__links {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 30px;
  margin-right: 80px;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  column-gap: 20px;
  list-style-type: none;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: #1f69c9;
}

.header__title {
  max-width: 729px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin-bottom: 28px;
  margin-left: 80px;
  z-index: 1;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-left: 80px;
  max-width: 683px;
}

.header__image {
  max-height: 646px;
  max-width: 568px;
  z-index: 0;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  list-style-type: none;
}

.header__footer__list {
  list-style-type: none;
  padding: 0;
  margin-left: 80px;
  margin-bottom: 40px;
}

.header__address {
  margin: auto 80px 40px 0;
  color: #838383;
}

/* ----------- recipes -------------------- */

.recipes {
  background-color: #0a2750;
  background-image: url(/images/background_recipes.svg);
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin-left: 80px;
  margin-top: 100px;
  bottom: 24px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  max-width: 438px;
  color: white;
  position: absolute;
  font-size: 20px;
  line-height: 30px;
  margin-top: 156px;
  margin-left: 80px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 268px;
  gap: 40px;
  bottom: 24px;
}

.recipes__videos__iframe {
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipes__videos__video-caption {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  gap: 100px;
  bottom: 215px;
}

.recipes__videos__video-caption__aeropress {
  display: flex;
  align-items: end;
  gap: 50px;
}

.recipes__videos__video-caption__aeropress__text {
  list-style-type: none;
}

.recipes__videos__video-caption__francesa {
  display: flex;
  align-items: end;
}

.recipes__videos__video-caption__francesa__text {
  list-style-type: none;
}
