/* -----------fonts -------------------- */

/* -----------page -------------------- */

.page {
  font-family: "Inter", "Noto Serif", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  min-width: 1100px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

/* -----------header -------------------- */

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-position: center;
}
.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  margin: 0px;
  padding: 30px;
  display: block;
  height: 39px;
  width: 105px;
}

.nav__links {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 30px;
  margin-right: 80px;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  column-gap: 20px;
  list-style-type: none;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: #1f69c9;
}

.header__title {
  max-width: 729px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin-bottom: 28px;
  margin-left: 80px;
  z-index: 1;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-left: 80px;
  max-width: 683px;
}

.header__image {
  max-height: 646px;
  max-width: 568px;
  z-index: 0;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  list-style-type: none;
}

.header__footer-list {
  list-style-type: none;
  padding: 0;
  margin-left: 80px;
  margin-bottom: 40px;
}

.header__address {
  margin: auto 80px 40px 0;
  color: #838383;
}

/* ----------- recipes -------------------- */

.recipes {
  background-color: #0a2750;
  background-image: url(/images/background_recipes.svg);
  background-image: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin-left: 80px;
  margin-top: 100px;
  bottom: 24px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  max-width: 438px;
  color: white;
  position: absolute;
  font-size: 20px;
  line-height: 30px;
  margin-top: 156px;
  margin-left: 80px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 268px;
  gap: 40px;
  bottom: 24px;
}

.recipes__iframe {
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-caption {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  bottom: 215px;
  padding-top: 24px;
}

.video-caption__aeropress {
  display: flex;
  text-align: center;
}

.video-caption__aeropress-text {
  list-style-type: none;
}

.video-caption__francesa {
  display: flex;
  text-align: center;
  align-items: center;
  margin-right: 10px;
}

.video-caption__francesa-text {
  list-style-type: none;
}

/* ----------- reservation -------------------- */

.reservation {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-color: #d9e7ff;
  background-image: url(/images/background_reservation.svg);
  background-image: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 100px;
}

.form {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: flex;
}

.reservation__form {
  max-width: 385px;
  height: 60px;
}

.form__fieldset {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  padding: 0;
  border: 0;
}

.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  bottom: 8px;
  top: 8px;
}

.form__input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  height: 60px;
  width: 385px;
  top: 8px;
  bottom: 8px;
}

.form__button {
  position: relative;
  height: 60px;
  width: 385px;
  top: 32px;
  bottom: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background-color: #2f80ed;
  transition: 0.4s ease-in;
  bottom: 32px;
}

.form__button:focus {
  border-radius: 4px;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  display: flex;
  justify-content: center;
  position: relative;
  top: 52px;
  gap: 20px;
}

.form__checkbox-option {
  width: 20px;
  height: 20px;
}

.form__checkbox-terms {
  display: flex;
  font-family: "inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

/* ----------- menu -------------------- */

/* ----------- Title -------------------- */

.menu {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-color: #fff;
  background-image: url(/images/background_menu.svg);
  background-image: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menu__title {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.menu__title-text {
  max-width: 780px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  bottom: 24px;
}

.menu__subtitle {
  max-width: 780px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  top: 24px;
  bottom: 100px;
}

/* ----------- Cards -------------------- */

.menu__cards {
  width: 540px;
  padding: 100px;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.card__filtro {
  width: 540px;
}

.card__list {
}

.card__title {
  list-style-type: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 32px 0;
}

.card__list-item {
  list-style-type: none;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 16px 0 16px 0;
}

.card__expresso {
  width: 540px;
}

.card__padaria {
  width: 540px;
}

.card__list-divider {
  margin: 0;
}
